<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ChoiceServlet</display-name>
    <servlet-name>ChoiceServlet</servlet-name>
    <servlet-class>project1.ChoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoiceServlet</servlet-name>
    <url-pattern>/ChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreaterValueServlet</display-name>
    <servlet-name>GreaterValueServlet</servlet-name>
    <servlet-class>project1.GreaterValueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreaterValueServlet</servlet-name>
    <url-pattern>/greater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmallerValueServlet</display-name>
    <servlet-name>SmallerValueServlet</servlet-name>
    <servlet-class>project1.SmallerValueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmallerValueServlet</servlet-name>
    <url-pattern>/smaller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>project1.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationServlet</display-name>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>project1.MultiplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/mul</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubtractionServlet</display-name>
    <servlet-name>SubtractionServlet</servlet-name>
    <servlet-class>project1.SubtractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubtractionServlet</servlet-name>
    <url-pattern>/sub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModDivisionServlet</display-name>
    <servlet-name>ModDivisionServlet</servlet-name>
    <servlet-class>project1.ModDivisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModDivisionServlet</servlet-name>
    <url-pattern>/moddiv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DivisionServlet</display-name>
    <servlet-name>DivisionServlet</servlet-name>
    <servlet-class>project1.DivisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionServlet</servlet-name>
    <url-pattern>/div</url-pattern>
  </servlet-mapping>
</web-app>